.inhalt p,
.inhalt li {
    color: rgba(24, 24, 24, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    /* 150% */
    letter-spacing: 0.18px;
    margin: 0;
    max-width: 100%;
    /* 141.667% */
}

.inhalt ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    flex: 1 0 0;
    padding: 0;
}

.inhalt li {
    display: flex;
    align-items: center;
    gap: 15px;
    align-self: stretch;
    color: #121212;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0.2px;
}

.inhalt p b,
.inhalt li b {
    color: #333333;
    font-weight: 600;
}

.inhalt h2 {
    color: var(--blackish, #181818);
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 27.5px */
    letter-spacing: -1px;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 20px;
    /* 123.611% */
}

.abstand {
    height: 50px;
    width: 100%;
}

@media screen and (max-width: 700px) {

    .inhalt p,
    .inhalt li {
        max-width: 100%;
    }

    .inhalt h2 {
        font-size: 28px;
    }
}

@media screen and (max-width: 600px) {
    .inhalt h2 {
        word-wrap: break-word;
    }
}