.noTop {
    padding-top: 0 !important;
}

.center {
    display: flex;
    justify-content: center;
}

.cta .title {
    width: 100% !important;
    text-align: center !important;
    text-transform: none !important;
}

.cta .link {
    display: flex;
    justify-content: center;
    margin-top: 42px;
}

@media screen and (max-width: 600px) {
    .cta .title br {
        display: none;
    }

    .cta .title {
        font-size: 9vw;
    }
}