.blog,
.bigPost {
    padding: 65px 340px;
}

.blog .top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 75px;
}

.blog .top h1 {
    color: #181818;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 115%;
    /* 125% */
    letter-spacing: -1px;
    max-width: 750px;
}

.blog .top p {
    color: rgba(24, 24, 24, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    /* 150% */
    letter-spacing: 0.18px;
}

.blog .top .textBox {
    max-width: 400px;
    display: flex;
    align-items: center;
}

.blog .posts {
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-gap: 50px 5%;
}

.blog .posts .post .image {
    aspect-ratio: 390/450;
    background-position: center;
    background-size: cover;
    width: 100%;
    margin-bottom: 25px;
    position: relative;
}

.blog .posts .post .image a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.blog .post span {
    color: #555;
    text-align: left;
    font-family: "Kanit", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.5px;
    display: block;
    margin: 0 auto;
    /* 150% */
}

.blog .post h3 {
    width: 100%;
    color: #121212;
    font-family: "Kanit", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 32.5px;
    /* 125% */
    margin: 0;
    margin-top: 5px;
    /* 125% */
}

.blog .post .link {
    width: 100%;
    position: relative;
    display: flex;
    margin-top: 22px;
    padding: 10px 0;
    border-top: 1px solid #bbb;
    color: #555;
    font-family: "Kanit", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.5px;
    /* 146.875% */
}

.blog .post .link:hover {
    text-decoration: underline;
}

.blog .post .link a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.blog .post .link img {
    display: block;
    margin: auto 10px;
}

/* BigPost - Single Post Page */

.bigPostOuter {
    padding-top: 100px !important;
}

.bigPost .inside {
    padding: 0 30px;
}

.bigPost .info1 {
    display: flex;
}

.bigPost .info1 span.cat {
    color: #121212;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25.5px;
    /* 159.375% */
}

.bigPost .info1 div {
    width: 4px;
    height: 4px;
    background-color: #bababa;
    display: block;
    margin: auto 10px;
}

.bigPost .info1 span.date {
    color: #555;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25.5px;
    /* 159.375% */
}

.bigPost h1 {
    color: #121212;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 114%;
    /* 114.063% */
    letter-spacing: -1px;
    margin: 0;
    margin-top: 13px;
    margin-bottom: 40px;
    /* 100% */
}

.bigPost .info2 {
    display: flex;
}

.bigPost .info2 .box:last-child {
    margin-left: 60px;
}

.bigPost .info2 .box div {
    color: #181818;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 160.714%;
    margin-bottom: 4px;
    /* 160.714% */
}

.bigPost .info2 .box span {
    color: #333;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 110.125%;
    margin-top: 4px;
    /* 153.125% */
}

.bigPost .image {
    aspect-ratio: 1200 / 700;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin: 50px 0;
    border-radius: 15px;
}

.relatedOuter {
    padding-top: 0 !important;
}

.title {
    color: #121212;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    /* 125% */
    letter-spacing: -1px;
}

@media screen and (max-width: 1750px) {

    .blog,
    .bigPost {
        padding: 65px 15%;
    }

    .bigPost {
        padding: 65px 10%;
    }
}

@media screen and (max-width: 1400px) {
    .blog .top h1 {
        font-size: 35px;
    }
}

@media screen and (max-width: 1150px) {
    .bigPost h1 {
        font-size: 5vw;
    }
}

@media screen and (max-width: 850px) {
    .blog .top {
        display: block;
        width: 100%;
    }

    .blog .top h1 {
        margin-bottom: 30px;
    }

    .blog .top .textBox {
        max-width: 100% !important;
        padding: 0;
    }

    .blog .posts {
        grid-template-columns: repeat(auto-fill, minmax(47%, 1fr));
        grid-gap: 40px 6%;
    }



    .bigPost .inside {
        padding: 0 25px;
    }

    .bigPost .inside p {
        max-width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .blog,
    .bigPost {
        padding: 65px 20px;
    }
}

@media screen and (max-width: 600px) {
    .blog .posts {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        grid-gap: 40px;
    }

    .blog .posts .post .image {
        aspect-ratio: 3 / 2;
    }

    .bigPost h1 {
        font-size: 35px;
    }

    .bigPost .inside {
        padding: 0 5px;
    }

    .bigPost h1 {
        font-size: 30px;
    }
}