/* Header */

.header {
    display: flex;
    padding: 45px 10% 0px 10%;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
}

.header .image {
    width: 100%;
    aspect-ratio: 890 / 426;
    background-image: url("/images/Services-Image.jpg");
    background-size: cover;
    background-position: top;
    border-radius: 30px;
    max-width: 740px;
}

/* Leistungspakete */

.leistung {
    display: flex;
    padding: 120px 240px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.leistung h1 {
    color: #121212;
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    /* 125% */
    letter-spacing: -1px;
    align-self: stretch;
}

.leistung .boxes {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 85px;
}

.leistung .box {
    display: flex;
    max-width: 380px;
    padding: 20px 0px;
    flex-direction: column;
    align-items: flex-end;
    gap: 75px;
    align-self: stretch;
}

.leistung .box .zeit p {
    display: flex;
    width: 141px;
    padding: 15px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: rgba(62, 80, 235, 0.15);
    color: rgba(24, 24, 24, 0.90);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    /* 15.4px */
    letter-spacing: -1px;
}

.leistung .box .txt {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
    align-self: stretch;
}

.leistung .box .txt .inner {
    display: flex;
    padding-right: 50px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.leistung .box h3 {
    color: var(--blackish, #181818);
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    /* 27.5px */
    letter-spacing: -1px;
    align-self: stretch;
}

.leistung .box p {
    color: rgba(24, 24, 24, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    /* 150% */
    letter-spacing: 0.18px;
}

.leistung .box .link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

/* Unsere Pakete */

.paket {
    display: flex;
    padding: 55px 125px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.paket .top {
    display: flex;
    padding-bottom: 50px;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
    border-bottom: 1px solid #CCC;
}

.paket .top h2 {
    color: var(--blueish, #3E50EB);
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    /* 102.857% */
    letter-spacing: -1px;
}

.paket .top ul {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    padding: 0;
}

.paket .top ul li {
    color: rgba(24, 24, 24, 0.90);
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0.22px;
    text-decoration-line: underline;
    list-style-type: none;
}

.paket .bottom {
    display: grid;
    grid-template-columns: [f] auto [s] 430px;
    grid-gap: 0 5%;
    padding: 50px 0;
    width: 100%;
}

.paket .bottom .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.paket .bottom .left .content {
    display: grid;
    grid-template-columns: [f] 45% [s] 45%;
    grid-gap: 0 10%;
    width: 100%;
}

.paket .bottom .link2 {
    display: none
}

.content .txt,
.content .list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.content h3 {
    color: var(--blackish, #181818);
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    /* 144% */
    letter-spacing: -1px;
}

.content p {
    color: var(--greyish-greenish, rgba(45, 58, 58, 0.60));
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    /* 150% */
    letter-spacing: 0.18px;
}

.content ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0;
}

.content li {
    display: flex;
    padding: 0px 5px;
    align-items: center;
    gap: 29px;
    align-self: stretch;
    color: var(--greyish-greenish, rgba(45, 58, 58, 0.60));
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 31px;
    /* 155% */
    letter-spacing: 0.2px;
}

.paket .projekt {
    position: relative;
    background-position: centeR;
    background-size: cover;
    display: flex;
    width: 100%;
    padding-bottom: 45px;
    max-width: 400px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    aspect-ratio: 434 / 557;
}

.paket .projekt .title {
    max-width: 85%;
    position: relative;
    display: flex;
    padding: 17px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
    border-radius: 7px;
    background: var(--greyish-greenish, rgba(45, 58, 58, 0.60));
}

.paket .projekt .title h3 {
    color: var(--white, #FFF);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    /* 19.8px */
}

.paket .projekt .title span {
    color: var(--white, #FFF);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.5px;
    /* 132.143% */
}

.paket .projekt .title .arrow {
    display: flex;
    width: 46px;
    height: 46px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    position: absolute;
    right: 40px;
    bottom: -23px;
    font-size: 17px;
    color: #fff;
    border-radius: 53px;
    background: var(--blueish, #3E50EB);
}

.paket .projekt a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Schwarze Box 1 */

.blackBox {
    display: block;
    padding: 0 50px;
    width: 100%;
}

.blackBox .inside {
    padding: 90px 75px;
    border-radius: 45px;
    width: 100%;
    background-color: #181818;
    color: #fff;
}

.blackBox .topSec {
    display: flex;
    padding-bottom: 50px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid #CCC;
}

.blackBox .topSec h2 {
    color: var(--white, #FFF);
    font-family: "Poppins";
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    /* 102.857% */
    letter-spacing: -1px;
}

.blackBox .topSec p {
    color: #CCC;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    /* 143.75% */
    letter-spacing: 0.16px;
    max-width: 500px;
}

/* Unser Prozess */

.blackBox.sec {
    padding: 120px 50px;
}

.prozess .main {
    display: grid;
    grid-template-columns: [f] 25% [s] 25% [t] 25% [ff] 25%;
    border-bottom: 1px solid #CCC;
}

.prozess .box {
    display: flex;
    width: 100%;
    padding: 20px 50px;
    flex-direction: column;
    align-items: flex-end;
    gap: 107px;
    align-self: stretch;
    border-right: 1px solid #CCC;
}

.prozess .box:first-child {
    padding-left: 0;
}

.prozess .box:last-child {
    padding-right: 0 !important;
    border-right: 0;
}

.prozess .box span {
    text-align: center;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--yellowish, #FFE45E);
    font-family: Inter;
    font-size: 150px;
    font-style: normal;
    font-weight: 800;
    line-height: 110%;
    /* 165px */
    letter-spacing: -1px;
    color: transparent;
}

.prozess .box .txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.prozess .box .txt h3 {
    color: var(--white, #FFF);
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    /* 120% */
    letter-spacing: -1px;
}

.prozess .box .txt p {
    color: var(--white, #FFF);
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    /* 150% */
    letter-spacing: 0.18px;
    align-self: stretch;
}

.prozess .links {
    display: flex;
    padding-top: 75px;
    align-items: center;
    gap: 40px;
    align-self: stretch;
}

.prozess .links .services {
    color: var(--white, #FFF);
    font-family: "Inter";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.5px;
    /* 102.273% */
    letter-spacing: 0.22px;
    text-decoration-line: underline;
}

@media screen and (max-width: 1750px) {
    .leistung {
        padding: 120px 10%;
    }
}

@media screen and (max-width: 1600px) {
    .blackBox .topSec h2 {
        font-size: 30px;
    }

    .paket .bottom {
        grid-template-columns: [f] auto [s] 330px;
    }

    .content li {
        font-size: 17px;
    }

    .content li img {
        width: 28px;
        height: auto;
    }
}

@media screen and (max-width: 1400px) {
    .blackBox {
        padding: 0 3%;
    }

    .blackBox .inside {
        padding: 50px 4%;
    }

    .prozess .main {
        grid-template-columns: [f] 50% [s] 50%;
    }

    .prozess .box:nth-child(2) {
        border-right: 0;
        padding-right: 0;
    }

    .prozess .box:nth-child(2),
    .prozess .box:nth-child(1) {
        border-bottom: 1px solid #CCC;
    }

    .prozess .box:nth-child(3) {
        padding-left: 0;
    }

    .leistung .box .txt .inner {
        padding-right: 0;
    }

    .paket .bottom {
        grid-template-columns: [f] auto [s] 35%;
    }

    .paket .bottom .left {
        gap: 30px;
    }

    .paket .bottom .left .content {
        display: grid;
        grid-template-columns: [f] 100%;
        grid-gap: 45px 0;
    }

    .paket {
        padding: 55px 45px;
    }

    .leistung h1 {
        font-size: 35px;
    }
}

@media screen and (max-width: 1200px) {
    .prozess .box {
        gap: 65px;
    }
}

@media screen and (max-width: 1000px) {
    .leistung .boxes {
        display: grid;
        grid-template-columns: [f] 47% [s] 47%;
        grid-gap: 45px 6%;
    }

    .paket .top {
        display: grid;
        grid-template-columns: [f] 100%;
        grid-gap: 10px 0;
    }
}

@media screen and (max-width: 900px) {
    .blackBox .topSec {
        display: grid;
        grid-template-columns: [f] 100%;
        grid-gap: 25px 0;
    }

    .paket .bottom {
        grid-template-columns: [f] 100%;
        grid-gap: 35px 0;
    }
}

@media screen and (max-width: 700px) {
    .header {
        padding: 45px 20px 0 20px;
    }

    .header .image {
        border-radius: 20px;
    }

    .paket.last {
        padding-bottom: 0 !important;
    }

    .leistung {
        padding: 60px 20px;
    }

    .blackBox {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .prozess .main {
        grid-template-columns: [f] 100%;
    }

    .prozess .box:nth-child(1),
    .prozess .box:nth-child(3) {
        border-right: 0;
        padding-right: 0;
    }

    .prozess .box {
        padding-left: 0;
    }

    .prozess .box:nth-child(3) {
        border-bottom: 1px solid #CCC;
    }

    .leistung .boxes {
        display: grid;
        grid-template-columns: [f] 100%;
        grid-gap: 45px 6%;
    }

    .leistung .boxes .box {
        max-width: 100%;
        width: 100%;
    }

    .paket {
        padding: 55px 20px;
    }
}

@media screen and (max-width: 600px) {
    .prozess .links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
    }

    .paket .top .details {
        display: grid;
        grid-template-columns: [f] 100%;
        grid-gap: 15px 0;
    }
}