/* Impressum */

.impressum {
    display: grid;
    grid-template-columns: [first] 500px [second] auto;
    grid-gap: 0 5%;
    padding: 65px 10%;
    min-height: 80vh;
}

.impressum h1, .datenschutz h1 {
    color: #121212;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 114%;
    /* 114.063% */
    letter-spacing: -1px;
    margin: 0;
    /* 109.167% */
}

.impressum ul li {
    color: #181818;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 31px;
    /* 155% */
    letter-spacing: 0.2px;
    list-style-type: none;
    margin-bottom: 5px;
    display: block !important;
    /* 141.667% */
}

.impressum ul {
    margin-bottom: 25px;
    padding-left: 0;
}

.impressum ul li b {
    font-weight: 600;
}

.impressum ul li.agency {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 700;
}

.impressum ul li a {
    color: #274eba;
}

/* Datenschutz */

.datenschutz {
    padding: 65px 10%;
}

.datenschutz ul li {
    list-style-type: none;
    display: block;
}

.datenschutz .ul li {
    list-style-type: disc;
}

@media screen and (max-width: 1150px) {
    .impressum {
        display: block;
    }

    .impressum h1 {
        margin-bottom: 40px;
        max-width: 80%;
        font-size: 5vw;
    }
}

@media screen and (max-width: 750px) {

}

@media screen and (max-width: 650px) {
    .impressum h1, .datenschutz h1 {
        font-size: 30px;
    }

    .datenschutz, .impressum {
        padding: 65px 20px;
    }
}