/* Impressum */

.impressum {
    display: grid;
    grid-template-columns: [first] 500px [second] auto;
    grid-gap: 0 5%;
}

.impressum h1 {
    color: #000;
    font-family: "Kanit", sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 109.167%;
    margin: 0;
    /* 109.167% */
}

.impressum ul li {
    color: #121212;
    font-family: "Kanit", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.5px;
    list-style-type: none;
    margin-bottom: 5px;
    /* 141.667% */
}

.impressum ul {
    margin-bottom: 25px;
    padding-left: 0;
}

.impressum ul li b {
    font-weight: 500;
}

.impressum ul li.agency {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 600;
}

.impressum ul li a {
    color: #274eba;
}

/* Datenschutz */

.datenschutz ul li {
    list-style-type: none;
}

.datenschutz .ul li {
    list-style-type: disc;
}

@media screen and (max-width: 1150px) {
    .impressum {
        display: block;
    }

    .impressum h1 {
        margin-bottom: 40px;
        max-width: 80%;
        font-size: 7vw;
    }
}

@media screen and (max-width: 650px) {
    .impressum h1 {
        font-size: 35px;
    }
}