/* Sercices */

.sericesOuter {
    padding-top: 100px !important;
}

.services {
    display: grid;
    grid-template-columns: [first] 170px [second] 30% [third] auto;
    grid-gap: 0 4%;
}

.services .left {
    display: flex;
    align-items: center;
}

.services .left ul {
    padding: 0;
    margin: 0;
}

.services .left ul li {
    list-style-type: none;
    color: #555;
    font-family: "Kanit", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.636%;
    cursor: pointer;
    margin-bottom: 40px;
    transition: all .3s;
    /* 138.636% */
}

.services .left ul li:hover,
.services .left ul li.active {
    color: #121212;
    font-weight: 500;
}

.services .left ul li:last-child {
    margin-bottom: 0;
}

.services .main {
    background-image: url("../public/images/servicesSea.jpg");
    background-position: center;
    background-size: cover;
}

.services .right {
    padding: 40px 0;
}

.services .right .title {
    color: #121212;
    font-family: "Kanit", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 48.5px;
    /* 121.25% */
}

.services .right p {
    margin-top: 20px !important;
}

.services .right .qual {
    display: flex;
}

.services .right ul {
    margin: 0;
    padding: 0;
    margin-top: 45px;
    margin-bottom: 60px;
}

.services .right ul li {
    list-style-type: none;
    color: #121212 !important;
}

.services .right ul li::before {
    content: "+";
    display: inline-block;
    margin: auto 0;
    margin-right: 5px;
}

.services .right .qual ul:last-child {
    margin-left: 40px;
}

/* Unter-Seiten */

/* Webdesign */

.webdesign {
    display: flex;
    justify-content: flex-end;
}

.webdesign .innerCtn {
    width: 74%;
}

.webdesign .image {
    width: 100%;
    aspect-ratio: 960/300;
    background-position: center;
    background-size: cover;
    background-image: url("../public/images/webdesignPic1.jpg");
    border-bottom-right-radius: 300px;
    margin-bottom: 40px;
}

.webdesign h2 {
    color: #121212;
    font-family: "Kanit", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 43.5px;
    margin: 0;
    margin-bottom: 40px;
    /* 120.833% */
}

.webdesign .twoCols {
    display: grid;
    grid-template-columns: [first] 47% [second] 47%;
    grid-gap: 0 6%;
}

.webdesign .twoCols p {
    margin-bottom: 25px;
}

.webdesign .link {
    margin-top: 35px;
}

/* Web Development */

.webDev .top h2 {
    color: #121212;
    text-align: right;
    font-family: "Kanit", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 40.5px;
    text-align: end;
    margin: 0;
    margin-bottom: 70px;
    /* 112.5% */
}

.webDev .content {
    display: grid;
    grid-template-columns: [first] 47% [sec] 47%;
    grid-gap: 0 6%;
}

.webDev .image {
    aspect-ratio: 600/350;
    background-position: center;
    background-size: cover;
    border-radius: 45px;
    margin-bottom: 40px;
}

.webDev .webflow .image {
    background-image: url("../public/images/webflow.png");
}

.webDev .nextJs .image {
    background-image: url("../public/images/nextjs.png");
}

.webDev .text {
    padding: 0 40px;
}

.webDev .text h3 {
    color: #121212;
    font-family: "Kanit", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 43.5px;
    /* 120.833% */
    margin-bottom: 35px;
}

.webDev .text h4 {
    color: #121212;
    font-family: "Kanit", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 28.5px;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 25px;
    /* 129.545% */
}

.webDev p,
.webDev li {
    font-weight: 300 !important;
    color: #555 !important;
}

.webDev li {
    margin-bottom: 15px;
}

.webDev li b {
    font-weight: 500 !important;
}

/* Social-Media Marketing */

.smm .top h2 {
    color: #121212;
    text-align: right;
    font-family: "Kanit", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 40.5px;
    margin: 0;
    margin-bottom: 70px;
    /* 112.5% */
}

.smm .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22%, 1fr));
    grid-gap: 0 4%;
}

.smm .content h3 {
    color: #121212;
    font-family: "Kanit", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 120.833%;
    margin: 0;
    margin-bottom: 30px;
}

.smm .content ul {
    padding: 0;
    margin: 0;
    margin-top: 30px;
}

.smm .content ul li {
    color: #121212 !important;
    list-style-type: none;
}

.smm .content ul li::before {
    content: "+";
    display: inline-block;
    margin: auto 0;
    margin-right: 5px;
}

@media screen and (max-width: 1550px) {
    .smm .content h3 {
        font-size: 28px;
    }
}

@media screen and (max-width: 1100px) {
    .services .main {
        display: none;
    }

    .services {
        grid-template-columns: [first] 170px [second] auto;
        grid-gap: 0;
    }

    .services .right {
        margin-left: 50px;
        border-left: 1px solid #cecece;
        padding-left: 50px;
    }

    /* SMM */

    .smm .content {
        grid-template-columns: repeat(auto-fill, minmax(47%, 1fr));
        grid-gap: 40px 6%;
    }
}

@media screen and (max-width: 900px) {
    .services {
        display: block;
    }

    .services .right {
        margin-left: 0;
        margin-top: 30px;
        border: none;
        border-top: 1px solid #cecece;
        padding-left: 0;
        padding-top: 30px;
    }

    .services .left ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .services .left ul li {
        margin-bottom: 0;
        font-size: 18px;
    }

    /* Webdevelopment */

    .webDev .content {
        grid-template-columns: [f] 100%;
        grid-gap:70px 0;
    }
}

@media screen and (max-width: 650px) {
    .services .left ul {
        display: grid;
        grid-template-columns: [first] 47% [sec] 47%;
        grid-gap: 30px 6%;
    }

    .services .right .qual {
        display: block;
    }

    .services .right .qual ul:first-child {
        margin-bottom: 0;
    }

    .services .right .qual ul:last-child {
        margin-left: 0;
        margin-top: 0;
    }

    .webDev .text {
        padding: 0;
    }
}

@media screen and (max-width: 600px) {
    .smm .content {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        grid-gap: 40px 0;
    }
}